/*Scroll bar--------------------------------------------------------------------------------*/
html{
    scroll-behavior: smooth;
    
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #57cc99;
    border-radius: 3px;
}

body {
    height: 3500px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3% 18% 85% 4% ;
    
}

/*TEXT ANIMATION-----------------------------------------------------------*/
.efect{ 
    
    position: absolute;
    z-index: 5;
    left: 400px;
    width: 0px;
    height: 300px;
    animation: efeito 2s;
    animation-direction: normal;
    animation-iteration-count: 1; 
    animation-delay: 0.1s;

}
@keyframes efeito{
    0% {background-color: #57cc99;
        transform: translateX(-150px);
        width: 500px;
        
    }
    50% { background-color: #c7f9cc;
        transform: translateX(-300px);
        width: 150px;
    }
    100% { background-color: white;
        transform: translateX(-600px);
        width: 0px;
    }
}

#paragrafo {
    animation: text-animation 2s;
    

}
@keyframes text-animation {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

/*MEBU-----------------------------------------------------------------------*/
#menu {
    background-color: white;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

#contact {
    padding: 7px;
    color: white;
    border-radius: 30px;
    background-color: #57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
}

ul > a {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    margin-right: 20px ;
    font-size:smaller;
}

ul > a:hover{
    padding: 7px;
    color: white;
    border-radius: 30px;
    background-color: #57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
}   

header {
    width: auto;
    background-color: white;
    
}

h1{
    margin: 0px;
}


#flatdesign {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    
}

#flatdesign > p {
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 50px;
   
}

#flat {
    animation: fly 1.8s;
    animation-delay: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    z-index: 1;
    width: 700px;
    height: 550px;
}
@keyframes fly {
    100% {transform: translateY( -30px);}
}

/*ANIMATION Links*/


h4 > #linkedin {
    margin-left: 25px;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 30px;
    background-color:#57cc99;
    color: white;
    box-shadow: 0px 10px 8px #f4f3ee;
   
}

h4 > #github {
    margin-left: 25px;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 30px;
    background-color: #c7f9cc;
    color: white;
    

}
#github:hover {
    background-color:#57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
    transition: 0.8s;
}

#flatdesign > h4 {
    margin-top: 340px;
    margin-right: -280px;
}
/*Conteúdo Principal------------------------------------------------------------------------*/

main {
    background-color:  white;
}

#primeirasec {
    height: 25%;
    background-color: #57cc99;
    padding-top: 2px;
    border-top: 8px solid  #c7f9cc;
    position: relative;
    z-index: 3;

}


#segundasec {
    height: 25%;
    background-color: white;
}

#terceirasec {
    height: 25%;
    background-color: white;
}


#quartasec {
    height: 25%;
    margin: 0px;
    background-color:  #57cc99;
    padding-top: 7px;
    border-top: 8px solid #c7f9cc;
}

/*Roda pé-------------------------------------------------------------------------------*/

footer {

    background-color: #4dae84 ;

}
