/*Scroll bar--------------------------------------------------------------------------------*/
html{
    scroll-behavior: smooth;
    
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #57cc99;
    border-radius: 3px;
}

body {
    height: 3500px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.4% 18% 75% ;
    
}

/*TEXT ANIMATION-----------------------------------------------------------*/
.efect{ 
    
    position: absolute;
    z-index: 5;
    left: 400px;
    width: 0px;
    height: 300px;
    animation: efeito 2s;
    animation-direction: normal;
    animation-iteration-count: 1; 
    animation-delay: 0.1s;

}
@keyframes efeito{
    0% {background-color: #57cc99;
        transform: translateX(-150px);
        width: 500px;
        
    }
    50% { background-color: #c7f9cc;
        transform: translateX(-300px);
        width: 150px;
    }
    100% { background-color: white;
        transform: translateX(-600px);
        width: 0px;
    }
}

#paragrafo {
    animation: text-animation 2s;
    

}
@keyframes text-animation {
    0% {opacity: 0;}
    100% { opacity: 1;}
}

/*MEBU-----------------------------------------------------------------------*/
#menu {
    background-color: white;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

#contact {
    padding: 7px;
    color: white;
    border-radius: 30px;
    background-color: #57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
}

ul > a {
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    margin-right: 20px ;
    font-size:smaller;
}

ul > a:hover{
    padding: 7px;
    color: white;
    border-radius: 30px;
    background-color: #57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
}   

header {
    width: auto;
    background-color: white;
    
}

h1{
    margin: 0px;
}


#flatdesign {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    
}

#flatdesign > p {
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 50px;
   
}

#flat {
    animation: fly 1.8s;
    animation-delay: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    z-index: 1;
    width: 700px;
    height: 550px;
}
@keyframes fly {
    100% {transform: translateY( -30px);}
}

/*ANIMATION Links*/


h4 > #linkedin {
    margin-left: 25px;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 30px;
    background-color:#57cc99;
    color: white;
    box-shadow: 0px 10px 8px #f4f3ee;
   
}

h4 > #github {
    margin-left: 25px;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 30px;
    background-color: #c7f9cc;
    color: white;
    

}
#github:hover {
    background-color:#57cc99;
    box-shadow: 0px 10px 8px #f4f3ee;
    transition: 0.8s;
}

#flatdesign > h4 {
    margin-top: 340px;
    margin-right: -280px;
}
/*Conteúdo Principal------------------------------------------------------------------------*/

main {
    background-color:  white;
}
/*HABILIDADES----------------------------------------------------------------------------------*/
#primeirasec {
    height: 25%;
    background-color: #57cc99;
    padding-top: 2px;
    border-top: 8px solid  #c7f9cc;
    position: relative;
    z-index: 3;

}

div#text, #text2 {
    display: flex;
    background-color: #57cc99;
    height: 250px;
    width: 700px;
    margin: auto;
    transform: translateY(10px);
    padding: 40px;
    border-radius: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#text2 {
    margin-top: 50px;
    text-align: right;
    background-color: #4dae84;    
}

div#imga, #imga2 {
    background-color: #c7f9cc;
    height: 300px;
    width: 700px;
    border-radius: 20px;
    transform: translateY(20px);
    box-shadow: 0px 10px 8px #49876c55;
    
}

#imga2 {
    transform: translateY(-80px);
    box-shadow: 0px 10px 8px #49876c8d;
    
}

#imga > h1, #imga2 > h1 {
    text-align: center;
    margin-top: 20px;
    color: #4dae84;
}

#imga > img {
    height: 200px;
    width: 230px;
    margin: 10px 45px;
}

#imga2 > img {
    height: 220px;
    width: 250px;
    margin: 10px 45px;

}

#text > h3 {
    position: relative;
    top: 50px;
}
/*PROJETOS----------------------------------------------------------------------------------*/
#segundasec {
    height: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

#projeto1, #projeto2, #projeto3 {
    display: flex;
    height: 250px;
    width: 780px;
    margin: auto;
    background-color: #57cc99;
    border-radius: 20px;
    box-shadow: 0px 10px 8px #f4f3ee;
    margin-top: 20px;
}

/*SOBRE MIM---------------------------------------------------------------------------------*/
#terceirasec {
    height: 25%;
    background-color: white;
}

#biografia {
    width: 750px;
    height: 400px;
    background-color: #57cc99;
    margin: auto;
    margin-top: 15vh;
    border-radius: 20px;
    padding-left: 30px;
    transform: translateY(50px);
    box-shadow: 0px 10px 8px #f4f3ee;

    
}

#biografia > h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    transform: translateY(50px);
}

/*CONTATO-----------------------------------------------------------------------------------*/
#quartasec {
    height: 18%;
    background-color:  #57cc99;
    padding-top: 7px;
    border-top: 8px solid #c7f9cc;
}

/*Roda pé-----------------------------------------------------------------------------------*/

footer {
    background-color: #4dae84 ;

}
