/*Scroll bar--------------------------------------------------------------------------------*/
html{
    scroll-behavior: smooth;
    
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(107, 114, 244);
    border-radius: 3px;
}

body {
    height: 3500px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3% 18% 85% 4% ;
    
}

/*MENU-------------------------------------------------------------------------------*/
#menu {
    background-color:  rgb(51, 22, 130);
    border-bottom: 8px solid rgb(102, 71, 203);
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}

ul > a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    margin-right: 20px ;
    font-size:smaller;
}

ul > a:hover{
    padding: 7px;
    background-color: rgb(102, 71, 203);
    border-radius: 10px;
}   

header {
    width: auto;
    background-color: white;
    
}

h1{
    margin: 0px;
}


#flatdesign {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    
}

#flatdesign > p {
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 50px;
   
}

#flat {
    animation: fly 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    z-index: 1;
}
@keyframes fly {
    0% {transform: translateY( 0px); }
    100% {transform: translateY( -30px);}
}

p {
    
}
/*ANIMATION TYPING*/


h4 > a {
    margin-left: 25px;
    text-decoration: none;
    padding: 8px 15px; 
    border-radius: 5px;
    background-color:rgb(102, 71, 203);
    color: white;
    box-shadow: 0px 0px 3px  rgb(51, 22, 130);
   
}
h4 > a:hover {
    background-color: white;
    color: rgb(102, 71, 203);
    box-shadow: 0px 0px 5px black;
    transition: 0.8s;

}

#flatdesign > h4 {
    margin-top: 340px;
    margin-right: -280px;
}
/*Conteúdo Principal------------------------------------------------------------------------*/

main {
    background-color:  white;
}

#primeirasec {
    height: 25%;
    background-color:  rgb(51, 22, 130) ;
    padding-top: 2px;
    border-top: 8px solid rgb(102, 71, 203);
    position: relative;
    z-index: 3;

}


#segundasec {
    height: 25%;
    background-color: white;
    border-bottom: 5px solid rgba(7, 7, 77, 0.934) ;
}

#terceirasec {
    height: 25%;
    background-color: white;
}


#quartasec {
    height: 25%;
    margin: 0px;
    background-color: rgba(71, 40, 171, 0.671);
    padding-top: 7px;
    border-top: 8px solid rgb(102, 71, 203);
}

/*Roda pé-------------------------------------------------------------------------------*/

footer {

    background-color: rgb(51, 22, 130) ;

}
